.form-ctn {
    margin-top: 90px; /* aplicar este estilo para tener un espaciado entre el header. */
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    padding: 100px 100px 100px 30px;
}

.ctn-p {
    display: flex; 
    justify-content: center;
    box-shadow: 0 4px 20px 5px rgb(0 0 0 / 44%);
}

.font-contact {
    font-family: "Anton SC", sans-serif!important; /* SOLO PARA ESTA PÁGINA DE ITRYO */
    letter-spacing: 5px!important;
    font-size: 26px!important;
}

form p {
    margin: 0;
    font-size: 21px;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #0000004a;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Roboto Mono", monospace;
}

.logo-ctn {
    padding: 50px 0px 50px 50px;
}

.logo-ctn img {
    width: 85%;
    background-color: #ffffff0a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.input-ctn input {
    padding: 10px;
    color:#000000cc;
    
    border: 2px solid #ffffff;
    outline: none;
    font-size: 17px;
}

.input-ctn input:focus {
    border: 3px solid rgb(190, 0, 0)!important;
}

.input-ctn input::placeholder,
.input-ctn textarea::placeholder {
    font-size: 17px;
    color: #00000077;
}

.input-ctn textarea {
    height: 125px;
    padding: 10px;
    color: #000000cc;
    
    border: 2px solid #ffffff;
    outline: none;
    font-size: 20px;
    overflow-y: auto;
}

.input-ctn textarea:focus {
    border: 3px solid rgb(190, 0, 0);
}

.input-message {
    margin-top: 4px;
    width: max-content;
    background-color: rgb(190, 0, 0);
    padding: 0 6px 0 6px;
    color: white;
    border-radius: 6px;
}

.send-btn-ctn {
    display: flex;
    justify-content: flex-end;
}

.send-btn-ctn button {
    height: 35px;
    width: 97px;
    padding: 0 5px 0 5px;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: "Anton SC", sans-serif;
    color: white;
    white-space: nowrap;
    border: unset;
    cursor: pointer;
    background-color: rgb(190, 0, 0);
}

.send-btn-ctn button:hover {
    color: white;
    border: 3px solid white;
}

/* CELULAR */

@media (max-width: 700px) { 

    .form-ctn {
        flex-direction: column;
        align-items: center;
        height: unset;
        gap: 13px;
        margin-top: 120px;
        background-size: cover;
    } 

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: transparent;
        padding: 10px 30px 35px 30px;
    }

    form p {
        font-size: 20px;
        text-align: center;
        border-bottom: 3px solid white;
        background-color: transparent;
    }

    .ctn-p {
        box-shadow: none;
    }

    .logo-ctn {
        display: flex;
        justify-content: center;
        width: 100%; 
        padding: 0;
    }

    .logo-ctn img {
        width: 300px;
    }
}

/* TABLETS */

@media (min-width:701px) and (max-width: 1050px) {
    .form-ctn {
        flex-direction: column;
        align-items: center;
        height: unset;
        margin-top: 120px;
        gap: 13px;
        background-size: cover;
    } 

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: transparent;
        padding: 10px 160px 30px 160px;
    }

    form p {
        font-size: 20px;
        text-align: center;
        border-bottom: 3px solid white;
        background-color: transparent;
    }

    .ctn-p {
        box-shadow: none;
    }

    .logo-ctn {
        display: flex;
        justify-content: center;
        width: 100%; 
        padding: 0;
    }

    .logo-ctn img {
        width: 500px;
    }
}


