/* El carousel está hecho con bootstrap. 

1 - Se instala: npm install bootstrap @popperjs/core

2 - Se agrega esto en angular.json: 
"styles": [
  "node_modules/bootstrap/dist/css/bootstrap.min.css",
  "src/styles.css"
],
"scripts": [
  "node_modules/@popperjs/core/dist/umd/popper.min.js",
  "node_modules/bootstrap/dist/js/bootstrap.min.js"
]

3 - Se agrega el contenido del html al componente.

*/

h3 {
    font-size: 20px;
    margin-bottom: 2px;
    font-family: "Roboto Mono", monospace;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 0px #fff, 0 0 2px #fff;
  }
  
  p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.671);
    font-weight: bolder;
    font-family: "Roboto Mono", monospace;
  }
  
  .carousel {
    margin-top: 90px;
  }
  
  .carousel-inner img {
    width: 100%;         /* Ocupa el 100% del ancho del contenedor */
    height: 500px;       /* Establece una altura fija de 500px */
    object-fit: cover;   /* Asegura que las imágenes cubran el espacio sin deformarse */
  }
  
  .carousel-indicators {
    bottom: 20px;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    color: white;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(2.5px);
    }
  }
  
  @media (max-width: 700px) {
    .carousel {
      margin-top: 0;
    }
  
    .carousel-inner img {
      height: 100vh;
    }
  }