.ctn-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Con este media query logro que el video en celular se amolde a la resolucion y no quede enorme. */
@media (max-width: 1270px) {

    .ctn-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .ctn-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}