/* Logo y botones principales */

header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    /* background-color: #1a1a1ab8; */
    background: linear-gradient(to bottom, #000000b8, rgb(110 0 0 / 35%) 100%);
    box-shadow: 0px 5px 20px 3px rgb(110 0 0 / 47%);
}


img {
    width: 130px;
    padding: 10px;
    /* margin-left: auto; */
    margin-left: 10px;
    cursor: pointer;
}

.buttons-ctn {
    display: flex;
    gap: 17px;
    /* margin-right: auto; */
    margin-right: 10px;
}

.buttons-ctn button {
    height: 35px;
    width: 97px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    letter-spacing: 1px;
    
    white-space: nowrap;
    border: unset;
    font-weight: bold;
    color: white;
    background-color: transparent;

    cursor: pointer;
}