/* Logo y botones principales */

header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    /* background-color: #1a1a1ab8; */
    background: linear-gradient(to bottom, #000000b8, rgb(110 0 0 / 35%) 100%);
    box-shadow: 0px 5px 20px 3px rgb(110 0 0 / 47%);
}


img {
    width: 130px;
    padding: 10px;
    /* margin-left: auto; */
    margin-left: 10px;
    cursor: pointer;
}

.buttons-ctn {
    display: flex;
    gap: 17px;
    /* margin-right: auto; */
    margin-right: 10px;
}

.buttons-ctn button {
    height: 35px;
    width: 97px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    letter-spacing: 1px;
    
    white-space: nowrap;
    border: unset;
    font-weight: bold;
    color: white;
    background-color: transparent;

    cursor: pointer;
}

/* Menú */

.btn-container {
    display: flex;
    z-index: 1000;
}

.btn-container .button-open {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    border-radius: 13px;
    
    background-image: url('/assets/icons/list.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all ease 0.3s;
}

.btn-container .button-open:hover {
    background-image: url('/assets/icons/list-red.svg'); 
}

.btn-container .button-close {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    border-radius: 13px;
    
    background-image: url('/assets/icons/x-lg.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all ease 0.3s;
}

.btn-container .button-close:hover {
    background-image: url('/assets/icons/x-lg-red.svg'); 
}

.menu {
    top: 0;
    z-index: 999;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.9;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

/*  Fin Menú */

@media (max-width: 1270px) {
    .buttons-ctn {
        display: none;
    }
}