<div class="ctn">
    <div class="img-ctn" (click)="navigateTo('/photos')">
        <img src="/assets/images/gallery/shows/shows-1.jpg" alt="Shows">
        <p class="anton-sc-regular">SHOWS</p>
    </div>
    <div class="img-ctn" (click)="navigateTo('/photos-ensayos')">
        <img src="/assets/images/gallery/ensayos/ensayos-1.jpg" alt="Ensayos">
        <p class="anton-sc-regular">ENSAYOS</p>
    </div>
    <div class="img-ctn" (click)="navigateTo('/photos-sessions')">
        <img src="/assets/images/gallery/sessions/sessions-1.jpg" alt="Sessions">
        <p class="anton-sc-regular">SESSIONS</p>
    </div>
    <div class="img-ctn" (click)="navigateTo('/photos-fanarts')">
        <img src="/assets/images/gallery/fanarts/fanart-6.jpg" alt="Fanarts">
        <p class="anton-sc-regular">FAN ARTS</p>
    </div>
</div>
