<div class="ctn">
    <div class="info-ctn" style="text-align: center;">
        <h3>ESCUCHÁ NUESTRA MÚSICA</h3>
    </div>
    <div class="img-ctn">
        <img src="assets/images/gallery/band-music-listen.jpg" alt="Front-Singer">
    </div>
</div>

<div class="ctn-2">
    <div class="img-ctn">
        <img src="assets/images/gallery/dai-music-listen.jpeg" alt="Front-Singer">
    </div>
    <div class="info-ctn info-ctn-songs">
        <ul>
            <li>CRONIKAS<i class="bi bi-play-fill"></i><img src="assets/images/cover-arts/cronikas.jpeg" alt="Cronikas"></li>
            <li>MALDITA LIBERTAD<i class="bi bi-play-fill"></i><img src="assets/images/cover-arts/maldita-libertad.jpeg" alt="Maldita Libertad"></li>
            <li>FINAL FIRE<i class="bi bi-play-fill"></i><img src="assets/images/cover-arts/final-fire.jpeg" alt="Final Fire"></li>
            <li>MENDIGO<i class="bi bi-play-fill"></i><img src="assets/images/cover-arts/mendigo.jpeg" alt="Mendigo"></li>
            <li>INFRAMUNDO<i class="bi bi-play-fill"></i><img src="assets/images/cover-arts/mendigo.jpeg" alt="Mendigo"></li>
        </ul>
    </div>
</div>