<div class="ctn">
    <div class="info-ctn" style="text-align: center;">
        <h3>ESCUCHÁ NUESTRA MÚSICA</h3>
        <div class="music-links">
            <a href="#" target="_blank" title="Spotify"><i class="bi bi-spotify"></i></a>
            <a href="#" target="_blank" title="YouTube"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
    <div class="img-ctn">
        <img src="assets/images/gallery/band-music-listen.jpg" style="padding: 50px 50px 0 0;" alt="Front-Singer">
    </div>
</div>

<div class="ctn-2">
    <div class="img-ctn">
        <img src="assets/images/gallery/dai-music-listen.jpeg" style="padding: 0 0 50px 50px;" alt="Front-Singer">
    </div>
    <div class="info-ctn info-ctn-songs">
        <ul>
            <li>CRONIKAS 
                <a target="_blank" href="https://www.youtube.com/watch?v=YCBDksvMjIQ&pp=ygUOY3JvbmlrYXMgaXRyeW_SBwkJhAkBhyohjO8%3D">
                    <i class="bi bi-play-fill"></i>
                    <img src="assets/images/cover-arts/cronikas.jpeg" alt="Cronikas">
                </a>
            </li>
            <li>MALDITA LIBERTAD
                <a target="_blank" href="https://www.youtube.com/watch?v=pl9ogiVTyck&pp=ygUWbWFsZGl0YSBsaWJlcnRhZCBpdHJ5b9IHCQmECQGHKiGM7w%3D%3D">
                    <i class="bi bi-play-fill"></i>
                    <img src="assets/images/cover-arts/maldita-libertad.jpeg" alt="Maldita Libertad">
                </a>
            </li>
            <li>FINAL FIRE
                <a target="_blank" href="https://www.youtube.com/watch?v=ZMV38KEV44A&pp=ygUQZmluYWwgZmlyZSBpdHJ5bw%3D%3D">
                    <i class="bi bi-play-fill"></i>
                    <img src="assets/images/cover-arts/final-fire.jpeg" alt="Final Fire">
                </a>
            </li>
            <li>MENDIGO
                <a target="_blank" href="https://www.youtube.com/watch?v=04Rc-wKGLFI&pp=ygUNbWVuZGlnbyBpdHJ5bw%3D%3D">
                    <i class="bi bi-play-fill"></i>
                    <img src="assets/images/cover-arts/mendigo.jpeg" alt="Mendigo">
                </a>
            </li>
            <li>INFRAMUNDO
                <a target="_blank" href="https://www.youtube.com/watch?v=HNhlJ3Pln5U&pp=ygUQaW5mcmFtdW5kbyBpdHJ5bw%3D%3D">
                    <i class="bi bi-play-fill"></i>
                    <img src="assets/images/cover-arts/mendigo.jpeg" alt="Mendigo">
                </a>
            </li>
        </ul>
    </div>
</div>