.ctn, .ctn-2 {
    display: flex;
    align-items: center;
}

.ctn { 
    margin-top: 87px;
}

.img-ctn {
    display: flex;
    justify-content: center;
    width: 50%;
}

.img-ctn img {
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    width: 100%;
    padding: 50px;
}

.info-ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 50px 100px 50px 100px;
}

.info-ctn-songs {
    flex-direction: row;
    gap: 25px;
}

.info-ctn ul li {
    letter-spacing: 1px;
    line-height: 75px;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    font-size: 50px;
    color: white;
}

p {
    margin: 0;
    overflow-wrap: anywhere;
    font-family: 'Lora', serif;
    color: rgb(167, 167, 167);
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 26px;
}

h3, h4 { /* Fuente Rock */
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    color: white;
}

h3 {
    font-size: 50px;
    letter-spacing: 5px;
}

h4 {
    font-size: 25px;
    letter-spacing: 4px;
}

@media (max-width: 1270px) {

    .ctn, .ctn-2 {
        flex-direction: column;
    }

    .img-ctn {
        width: 100%;
    }

    .info-ctn {
        width: 100%;
        text-align: justify;
        padding: 25px 25px 25px 25px;
    }

    h3 {
        text-align: center;
    }

    p {
        letter-spacing: 0;
    }
}