.ctn, .ctn-2 {
    display: flex;
    align-items: center;
}

.ctn { 
    margin-top: 87px;
}

.img-ctn {
    display: flex;
    justify-content: center;
    width: 50%;
}

.img-ctn img {
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    width: 100%;
}

.info-ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 50px 100px 50px 100px;
}

.info-ctn-songs {
    flex-direction: row;
    white-space: nowrap;
}

.info-ctn ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 12px;
    letter-spacing: 4px;
    line-height: 75px;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    font-size: 32px;
    color: white;
}

ul li img {
    width: 50px;
}

h3 { /* Fuente Rock */
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    color: white;
}

h3 {
    font-size: 45px;
    letter-spacing: 5px;
}

@media (max-width: 1270px) {

    .ctn, .ctn-2 {
        flex-direction: column;
    }

    .img-ctn {
        width: 100%;
    }

    .img-ctn img {
        padding: 0 0 25px 0 !important;
    }

    .info-ctn {
        width: 100%;
        padding: 25px 25px 25px 25px;
    }

    .info-ctn-songs {
        padding: 0 25px 25px 25px;
    }

    .info-ctn ul li {
        letter-spacing: 3px;
        line-height: 55px;
        font-size: 23px;
    }

    h3 {
        text-align: center;
        font-size: 23px;
        letter-spacing: 3px;
    }
}