.ctn, .ctn-2 {
    display: flex;
    align-items: center;
}

.ctn { 
    margin-top: 87px;
}

.img-ctn {
    display: flex;
    justify-content: center;
    width: 50%;
}

.img-ctn img {
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    width: 100%;
}

.info-ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 8px;
    padding: 0 50px 0 50px;
}

h3 { /* Fuente Rock */
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    color: white;
}

h3 {
    font-size: 45px;
    letter-spacing: 5px;
}

p {
    margin: 0;
    overflow-wrap: anywhere;
    font-family: 'Lora', serif;
    color: rgb(167, 167, 167);
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 26px;
}

a {
    display: inline-block; /* Quitar espacio por defecto que ocupa un enlace. */
    line-height: 0;
}

@media (max-width: 1270px) {
    .ctn, .ctn-2 {
        flex-direction: column;
    }

    .img-ctn {
        width: 100%;
    }

    .img-ctn img {
        padding: 0 0 25px 0 !important;
    }

    .info-ctn {
        width: 100%;
        padding: 25px 25px 25px 25px;
    }

    h3 {
        text-align: center;
        font-size: 23px;
        letter-spacing: 3px;
    }
}