.ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px -7px 14px 5px #131313;
}

.ctn img {
    width: 500px;
    padding: 15px;
}

@media (max-width: 700px) {
    .ctn {
        background-size: cover;
    }

    .ctn img {
        width: 230px;
    }
}