.ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* background: url('/assets/backgrounds/gallery-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}

.ctn img {
    width: 500px;
}

@media (max-width: 700px) {
    .ctn {
        background-size: cover;
    }

    .ctn img {
        width: 230px;
    }
}