.h2-ctn {
    display: flex;
    padding: 115px 50px 12.5px 50px;
}

.h2-ctn h2 {
    color: white;
    margin: 0;
    font-family: "Roboto Mono", monospace;

    background: url('/assets/backgrounds/h2.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px 76px 15px 30px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* ← permite que las imágenes pasen a otra línea */
    gap: 20px;
    padding: 12.5px 50px 12.5px 50px;
}

.gallery .photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    transition: all ease 0.3s;
    box-shadow: 0px 5px 8px 2px #0003;
    transition: transform 0.3s ease-in-out;
}

.gallery .photo:hover {
    opacity: 85%;
    transform: scale(1.03); /* Aumenta el tamaño de la imagen */
    cursor: pointer;
}

.gallery .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }

  .popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 6px;
  }

  .popup-text {
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
  }

  /* Botón de cierre */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1100;
  }

  .close-btn:hover {
    color: #ff5555;
  }


