.h2-ctn {
    display: flex;
    padding: 115px 50px 12.5px 50px;
}

.h2-ctn h2 {
    color: white;
    margin: 0;
    font-family: "Roboto Mono", monospace;

    background: url('/assets/backgrounds/h2.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px 76px 15px 30px;
}

.ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* ← permite que las imágenes pasen a otra línea */
    gap: 20px;
    padding: 12.5px 50px 12.5px 50px;
}

::ng-deep .cdk-global-overlay-wrapper {      /* Fondo oscuro para la galería de imagenes. ng-deep aplica a toda la aplicación. */
    background-color: #040404 !important;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    transition: all ease 0.3s;
    box-shadow: 0px 5px 8px 2px #0003;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    opacity: 85%;
    transform: scale(1.03); /* Aumenta el tamaño de la imagen */
}

@media (max-width: 700px) {
    .ctn {
        flex-direction: column;
    }

    .h2-ctn {
        justify-content: center;
        margin-top: 20px;
        padding: 75px 50px 12.5px 50px;
    }

    .h2-ctn h2 {
        padding: 15px 0 15px 0;
    }
}