<div class="ctn">
    <div class="img-ctn">
        <img src="assets/images/about-us/singer-about-us.jpg" alt="Front-Singer">
    </div>
    <div class="info-ctn">
        <h3>NOSOTROS</h3>

        <br>

        <p>
            Itryo Rock es una banda que combina energía cruda y pasión intensa.
            Fundada en 2023 por el guitarrista Rober Alves, quien rescató canciones
            de un proyecto previo, el grupo tomó fuerza con la incorporación de la
            vocalista Daiana Gajardo y su poderosa voz. En 2024, con la llegada del
            bajista Nacho Armissoglio y el baterista Esteban Gómez, Itryo consolidó
            un sonido dinámico y auténtico que cobra vida en cada actuación. Con
            influencias variadas y una determinación inquebrantable, Itryo Rock está
            listo para conquistar escenarios con su propuesta vibrante y única.
        </p>

        <br><br>

        <h4>Nuestra Música</h4>

        <br>

        <p>
            Itryo Rock fusiona con maestría el rock clásico con toques modernos,
            creando una propuesta sonora fresca, enérgica y envolvente. Sus
            canciones se caracterizan por riffs potentes de guitarra, bajos
            contundentes y baterías dinámicas que mantienen un ritmo constante y
            vibrante. La música de la banda combina momentos de intensidad con
            pasajes melódicos, llevando al oyente desde la potencia de riffs como los
            de "Final Fire" hasta la reflexión introspectiva de "Maldita Libertad. Con
            una atmósfera cargada de emoción y energía cruda, Itryo Rock ofrece
            una experiencia auditiva única que conecta con audiencias que buscan
            autenticidad y pasión en cada nota.
        </p>
    </div>
</div>

