.ctn {
    display: flex;
    margin-top: 87px;
    align-items: center;
}

.img-ctn {
    display: flex;
    justify-content: center;
    width: 40%;
}

.img-ctn img {
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    width: 100%;
}

.info-ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding: 50px 100px 50px 100px;
}

p {
    margin: 0;
    overflow-wrap: anywhere;
    font-family: 'Lora', serif;
    color: rgb(167, 167, 167);
    font-size: 19px;
}

h3, h4 { /* Fuente Rock */
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    color: white;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

@media (max-width: 1270px) {

    .ctn {
        flex-direction: column;
    }

    .img-ctn {
        width: 100%;
    }

    .info-ctn {
        width: 100%;
        text-align: justify;
        padding: 25px 25px 25px 25px;
    }

    h3 {
        text-align: center;
    }
}